body {
  background-color: rgba(255, 255, 255, 0.88);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


header {
  padding: 5px 0;
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color:rgba(25, 86, 23);
}

.logo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 20px;
}

.logo img {
  width: 200px;
  height: 200px;
  margin-right: 10px;
}

.restaurant-name {
  flex: 2;
  text-align: center;
  font-family: 'Della Respira';
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 130%;
  color: #ffffff;
}

.cart-icon {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
}

.cart-icon img {
  width: 40px;
  height: 40px;
}


nav {
  background-color: #000000;
  color: white;
  padding: 10px 0;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}


.section {
  padding: 50px;
}

.section h2 {
  font-size: 32px;
  margin-bottom: 30px;
  text-align: center;
}

.division {
  margin-bottom: 40px;
}

.division h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-top: 5%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -10px;
}

.col {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 10px;
}

.menu-item {
  width: 100%;
  margin: 0 0 10px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.menu-item:hover {
  transform: translateY(-5px);
}

.menu-item img {
  width: 30%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.menu-item h4 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-top: 5%;
}

.menu-item p {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

.promo {
  background-color: #f9f9f9;
  padding: 50px;
  text-align: center;
}

.promo h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.promo-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.promo-item {
  width: 45%;
  display: flow-root;
  align-items: center;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 10px;
  background-color: rg;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.promo-item:hover {
  transform: translateY(-5px);
}

.promo-item img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.promo-item-info {
  flex-grow: 1;
}

.promo-item h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #000000;
}

.promo-item p {
  font-size: 14px;
  color: #000000;
}

.promo-clique {
  text-decoration: none;
  color: #000000;
}

.original-price {
  text-decoration: line-through;
}

.discount-price {
  font-size: 20px;
  color: #000000;
  font-weight: bold;
}


footer {
  background-color:rgba(25, 86, 23);
  color: #fff;
  padding: 20px 0;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
  }